nav {
  background-color: #1a472a;
}

body {
  font-family: Harry Potter;
}

.container {
  flex: display;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  max-height: 700px;
  max-width: 700px
}

$yellow: #fbcb46;
$footer-background-color: #363636;
$footer-padding: 2rem 1.5rem;
$card-header-background-color: $yellow;
$box-padding: 1rem;

@import "~bulma/bulma.sass";

@font-face {font-family: "Harry Potter";
  src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot");
  src: url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/0421d4186d6efbfc5331fe180895e780.svg#Harry Potter") format("svg");
}

//Navbar
h1 {
  font-family: "Harry Potter";
  padding: 10px 20px;
  font-size: 25pt;
}

//Navbar tab colors + hover effects in all 4 Harry Potter house colors
#home {
background-color: #740001;
border-color: #740001;
}

#home:hover {
  background-color: #ae0001;
}

#characters {
  background-color: #1a472a;
  border-color: #1a472a;
  }
  
#characters:hover {
    background-color: #2a623d;
  }

#showcharacter {
    background-color: #0e1a40;
    border-color: #0e1a40;
    }
    
#showcharacter:hover {
      background-color: #222f5b;
    }

#favouritecharacter {
      background-color: #ecb939;
      border-color: #ecb939;
      }
      
#favouritecharacter:hover {
        background-color: #f0c75e;
      }

//Home Page
#homepage-background {
    background: url("../images/Home.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

#homepage {
  height: 100vh;
  width: 100vw;
}

#title, #subtitle {
  font-size: 80px;
  text-shadow: 5px 5px 5px #363636;
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
}

#subtitle {
  background-color: white;
  text-align: center;
  flex-wrap: wrap;
  color: #946b2d;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  text-shadow: none;
  padding: 0px;
  margin: 50px 0px;
  opacity: 0.9;
}


//Show Character Page
#card {
  border: 2px dashed #946b2d;
  border-radius: 25px;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  color: #946b2d;
}

//Back button on Show Character Card
#back {
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

//Character Card Page
.card-header-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
}